* {
  box-sizing: border-box;
}

body {
  color: #1d595e;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

.container {
  padding: 0 1.3rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8vh;
}

/* *************************** */
/********* BACKGROUND **********/
.background {
  background: linear-gradient(45deg, #eeffb2, #b6ffe4, #d1c8ff);
  background-size: 200% 200%;
  animation: gradient 12s alternate infinite;
  height: 100%;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
/* *************************** */
/*********** HEADER ***********/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
header nav {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5rem;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(0, 0, 0, 0.1) 0 0.2rem 1rem;
  backdrop-filter: blur(20px) saturate(1.5);
  -webkit-backdrop-filter: blur(20px) saturate(1.5);
}
header nav ul li {
  padding: 0.5rem 1rem;
  margin: 0 0.2rem;
  font-size: 1rem;
  border-radius: 5rem;
}
header nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

/* ***************************** */
/************* HERO *************/
main .hero {
  font-family: "Caveat Brush", cursive;
  text-align: center;
  font-size: clamp(3.2rem, 10vw, 6rem);
  letter-spacing: -3px;
  line-height: 1.1;
  padding-bottom: 8vh;
  padding-top: 18vh;
}

/* **************************** */
/************ ABOUT ************/
h2 {
  font-family: "Caveat Brush", cursive;
  font-size: clamp(2.2rem, 8vw, 3.5rem);
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column-reverse;
  padding: 1.2rem 1.8rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(0, 0, 0, 0.1) 0 0.2rem 1rem;
  backdrop-filter: blur(20px) saturate(1.5);
  -webkit-backdrop-filter: blur(20px) saturate(1.5);
  margin-top: 2vh;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
}

.about-image img {
  display: block;
  margin: 0.5rem auto 1.5rem;
  width: 80%;
  border-radius: 40rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0.2rem 2rem;
}

/* *************************** */
/********** PROJECTS ***********/
.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.8rem;
  margin-top: 3vh;
}
.projects .project {
  padding: 1.2rem 1.8rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(0, 0, 0, 0.1) 0 0.2rem 1rem;
  backdrop-filter: blur(20px) saturate(1.5);
  -webkit-backdrop-filter: blur(20px) saturate(1.5);
}

/* *************************** */
/********** CONTACT ************/
.contact {
  padding: 1.2rem 1.8rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(0, 0, 0, 0.1) 0 0.2rem 1rem;
  backdrop-filter: blur(20px) saturate(1.5);
  -webkit-backdrop-filter: blur(20px) saturate(1.5);
  margin-top: 2vh;
  padding: 1.8rem;
}
.contact form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.contact input,
.contact textarea,
.contact .btn-contact {
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  border: none;
  padding: 1rem 1.2rem;
  border-radius: 0.8rem;
  width: 100%;
  margin-top: 0.4rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.1) 0 0.1rem 0.6rem;
}
.contact .btn-contact {
  background-color: #1d595e;
  color: #cce7e0;
  transition: all 0.25s;
}
.contact .btn-contact:hover {
  background-color: #236b71;
  color: white;
  cursor: pointer;
}
.contact .btn-contact:active {
  background-color: #17474b;
  color: #98cfc0;
}
.contact label {
  display: block;
  margin-left: 1.2rem;
}
.contact .contact-image {
  display: none;
}

/* **************************** */
/************ FOOTER ************/
footer {
  margin-top: 6vh;
  padding: 1rem 0;
  text-align: center;
}
footer a {
  color: #1d595e;
  text-decoration: none;
  transition: all 0.25s;
}
footer a:hover {
  color: #2f9098;
  text-decoration: underline;
}

/* **************************** */
/********** DARK MODE **********/
@media (prefers-color-scheme: dark) {
  body {
    color: #cce7e0;
  }
  .background {
    background: linear-gradient(45deg, #7c9131, #2b916b, #3b2999);
    background-size: 200% 200%;
  }
  img {
    filter: brightness(0.9);
  }
  header nav ul {
    background-color: rgba(34, 34, 34, 0.6);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.2rem 1rem;
    backdrop-filter: blur(20px) saturate(1.5);
    -webkit-backdrop-filter: blur(20px) saturate(1.5);
  }
  header nav ul li:hover {
    background-color: rgba(34, 34, 34, 0.4);
  }
  .about {
    padding: 1.2rem 1.8rem;
    border-radius: 2rem;
    font-size: 1.1rem;
    background-color: rgba(34, 34, 34, 0.6);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.2rem 1rem;
    backdrop-filter: blur(20px) saturate(1.5);
    -webkit-backdrop-filter: blur(20px) saturate(1.5);
  }
  .projects .project {
    padding: 1.2rem 1.8rem;
    border-radius: 2rem;
    font-size: 1.1rem;
    background-color: rgba(34, 34, 34, 0.6);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.2rem 1rem;
    backdrop-filter: blur(20px) saturate(1.5);
    -webkit-backdrop-filter: blur(20px) saturate(1.5);
  }
  .contact {
    padding: 1.2rem 1.8rem;
    border-radius: 2rem;
    font-size: 1.1rem;
    background-color: rgba(34, 34, 34, 0.6);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.2rem 1rem;
    backdrop-filter: blur(20px) saturate(1.5);
    -webkit-backdrop-filter: blur(20px) saturate(1.5);
    overflow: hidden;
  }
  .contact form {
    padding-right: 2rem;
  }
  .contact .contact-image {
    background-color: rgba(204, 231, 224, 0.5);
  }
  .contact input,
  .contact textarea {
    background-color: rgba(255, 255, 255, 0.1);
    color: #cce7e0;
  }
  .contact .btn-contact {
    background-color: rgba(204, 231, 224, 0.75);
    color: #1d595e;
  }
  .contact .btn-contact:hover {
    background-color: #cce7e0;
    color: #297e85;
  }
  .contact .btn-contact:active {
    background-color: rgba(204, 231, 224, 0.75);
    color: #1d595e;
  }
  footer a {
    color: #cce7e0;
  }
  footer a:hover {
    color: white;
  }
}
/* **************************** */
/********** RESPONSIVE **********/
/* Screen over 480px */
@media (min-width: 480px) {
  .about {
    padding: 1.6rem 2.8rem;
  }
  .about-image img {
    margin: 0rem auto 1.5rem;
  }
}
/* Screen over 600px */
@media (min-width: 600px) {
  .container {
    padding: 0 2.2rem;
  }
  .about {
    padding: 2rem 3.6rem;
  }
  .about-image img {
    width: 65%;
  }
}
/* Screen over 700px */
@media (min-width: 700px) {
  .about-image img {
    margin: 0rem auto 2rem;
    width: 45%;
  }
}
/* Screen over 800px */
@media (min-width: 800px) {
  .about {
    padding: 1.6rem 2.4rem;
    flex-direction: row;
  }
  .about-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .about-image img {
    margin: 0;
    margin-right: -0.4rem;
    width: 100%;
  }
  .projects {
    grid-template-columns: 1fr 1fr;
  }
  .contact form {
    width: 60%;
  }
  .contact .contact-image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .contact .contact-image img {
    width: 75%;
    height: 75%;
    opacity: 0.9;
  }
}
/* Screen over 1000px */
@media (min-width: 1000px) {
  .about-image {
    width: 68%;
  }
  .contact {
    padding: 2rem;
  }
}
/* Screen over 1300px */
@media (min-width: 1300px) {
  .container {
    padding: 0;
  }
  .about-image {
    width: 57%;
  }
}/*# sourceMappingURL=styles.css.map */