$color-dark1: #1d595e;
$color-light1: #cce7e0;
$color-bg: #ffffff;
$color-bg-dark: #222;

$h1-size: clamp(3.2rem, 10vw, 6rem);
$h2-size: clamp(2.2rem, 8vw, 3.5rem);

@mixin bg-blur($bg-color) {
  background-color: rgba($bg-color, 0.6);
  box-shadow: rgba(0, 0, 0, 0.1) 0 0.2rem 1rem;
  backdrop-filter: blur(20px) saturate(1.5);
  -webkit-backdrop-filter: blur(20px) saturate(1.5);
}

@mixin box($bg-color) {
  padding: 1.2rem 1.8rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  @include bg-blur($bg-color);
}

* {
  box-sizing: border-box;
}

body {
  color: $color-dark1;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: $color-light1;
}

.container {
  padding: 0 1.3rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8vh;
}

/* *************************** */
/********* BACKGROUND **********/

.background {
  background: linear-gradient(45deg, #eeffb2, #b6ffe4, #d1c8ff);
  background-size: 200% 200%;
  animation: gradient 12s alternate infinite;
  height: 100%;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

/* *************************** */
/*********** HEADER ***********/

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  nav {
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      border-radius: 5rem;
      @include bg-blur($color-bg);

      li {
        padding: 0.5rem 1rem;
        margin: 0 0.2rem;
        font-size: 1rem;
        border-radius: 5rem;

        &:hover {
          background-color: rgba($color-bg, 0.8);
          cursor: pointer;
        }
      }
    }
  }
}

/* ***************************** */
/************* HERO *************/

main {
  .hero {
    font-family: "Caveat Brush", cursive;
    text-align: center;
    font-size: $h1-size;
    letter-spacing: -3px;
    line-height: 1.1;
    padding-bottom: 8vh;
    padding-top: 18vh;
  }
}

/* **************************** */
/************ ABOUT ************/

h2 {
  font-family: "Caveat Brush", cursive;
  font-size: $h2-size;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column-reverse;
  @include box($color-bg);
  margin-top: 2vh;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
}

.about-image {
  img {
    display: block;
    margin: 0.5rem auto 1.5rem;
    width: 80%;
    border-radius: 40rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.2rem 2rem;
  }
}

/* *************************** */
/********** PROJECTS ***********/

.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.8rem;
  margin-top: 3vh;

  .project {
    @include box($color-bg);
  }
}

/* *************************** */
/********** CONTACT ************/

.contact {
  @include box($color-bg);
  margin-top: 2vh;
  padding: 1.8rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }

  input,
  textarea,
  .btn-contact {
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    border: none;
    padding: 1rem 1.2rem;
    border-radius: 0.8rem;
    width: 100%;
    margin-top: 0.4rem;
    background-color: rgba($color-bg, 0.8);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.1rem 0.6rem;
  }

  .btn-contact {
    background-color: $color-dark1;
    color: $color-light1;
    transition: all 0.25s;

    &:hover {
      background-color: lighten($color-dark1, 5%);
      color: lighten($color-light1, 15%);
      cursor: pointer;
    }

    &:active {
      background-color: darken($color-dark1, 5%);
      color: darken($color-light1, 15%);
    }
  }

  label {
    display: block;
    margin-left: 1.2rem;
  }

  .contact-image {
    display: none;
  }
}

/* **************************** */
/************ FOOTER ************/
footer {
  margin-top: 6vh;
  padding: 1rem 0;
  text-align: center;

  a {
    color: $color-dark1;
    text-decoration: none;
    transition: all 0.25s;

    &:hover {
      color: lighten($color-dark1, 15%);
      text-decoration: underline;
    }
  }
}

/* **************************** */
/********** DARK MODE **********/

@media (prefers-color-scheme: dark) {
  body {
    color: $color-light1;
    background-color: $color-dark1;
  }

  .background {
    background: linear-gradient(45deg, #7c9131, #2b916b, #3b2999);
    background-size: 200% 200%;
  }

  img {
    filter: brightness(0.9);
  }

  header {
    nav {
      ul {
        @include bg-blur($color-bg-dark);
        li {
          &:hover {
            background-color: rgba($color-bg-dark, 0.4);
          }
        }
      }
    }
  }

  .about {
    @include box($color-bg-dark);
  }

  .projects {
    .project {
      @include box($color-bg-dark);
    }
  }

  .contact {
    @include box($color-bg-dark);
    overflow: hidden;

    .contact-image {
      background-color: rgba($color-light1, 0.5);
      padding-right: 2rem;
    }

    input,
    textarea {
      background-color: rgba(255, 255, 255, 0.1);
      color: $color-light1;
    }

    .btn-contact {
      background-color: rgba($color-light1, 0.75);
      color: $color-dark1;

      &:hover {
        background-color: $color-light1;
        color: lighten($color-dark1, 10%);
      }

      &:active {
        background-color: rgba($color-light1, 0.75);
        color: $color-dark1;
      }
    }
  }

  footer {
    a {
      color: $color-light1;

      &:hover {
        color: lighten($color-light1, 15%);
      }
    }
  }
}

/* **************************** */
/********** RESPONSIVE **********/

/* Screen over 480px */
@media (min-width: 480px) {
  .about {
    padding: 1.6rem 2.8rem;
  }

  .about-image {
    img {
      margin: 0rem auto 1.5rem;
    }
  }
}

/* Screen over 600px */
@media (min-width: 600px) {
  .container {
    padding: 0 2.2rem;
  }

  .about {
    padding: 2rem 3.6rem;
  }

  .about-image {
    img {
      width: 65%;
    }
  }
}

/* Screen over 700px */
@media (min-width: 700px) {
  .about-image {
    img {
      margin: 0rem auto 2rem;
      width: 45%;
    }
  }
}

/* Screen over 800px */
@media (min-width: 800px) {
  .about {
    padding: 1.6rem 2.4rem;
    flex-direction: row;
  }

  .about-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    img {
      margin: 0;
      margin-right: -0.4rem;
      width: 100%;
    }
  }

  .projects {
    grid-template-columns: 1fr 1fr;
  }

  .contact {
    position: relative;

    form {
      width: 60%;
    }

    .contact-image {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 40%;
      height: 100%;
      position: absolute;
      top: 0;
      right: -2rem;

      img {
        width: 75%;
        height: 75%;
        opacity: 0.9;
      }
    }
  }
}

/* Screen over 1000px */
@media (min-width: 1000px) {
  .about-image {
    width: 68%;
  }

  .contact {
    padding: 2rem;
  }
}

/* Screen over 1300px */
@media (min-width: 1300px) {
  .container {
    padding: 0;
  }

  .about-image {
    width: 57%;
  }
}
